../
*.iml
.gradle
.idea
.fleet
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock
# CocoaPods
Podfile.lock
*.xcworkspace/
DerivedData/